@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
}

header h2{
  text-align: center;
  color: rgb(14, 216, 102);
}

ul li h4{
  color: rgb(14, 216, 102);
}

li p{
  font-weight: bold;
}

a{
  background-color: rebeccapurple;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.conteudo{
  background-color: darkgrey;
  padding: 10px;
  border-radius: 5px;
}

.titulo{
  text-align: center;
  margin: 30px;
}

h2{
  margin: 0;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
  place-content: center center;
  gap: 10px;
}

.item{
  display: grid;
  background-color: rgb(235, 232, 232);
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
}