@charset "UTF-8";

@media (max-width: 500px){
  .header{
    display: block;
  }

  .menu{
    display: none;
  }

  .conteudo{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}