
@media (max-width: 1000px){
  .conteudo-vatagens{
    grid-template-columns: 1fr;
  }

  .subtitulo{
    text-align: center;
  }
}

@media (max-width: 600px){
  body{
    gap: 20px;
    margin-top: 20px;
  }

  header{
    gap: 20px;
  }

  .conteudo{
    grid-template-columns: 1fr;
  }

  .introducao{
    text-align: center;
    justify-items: center;
  }

  .introducao::before{
    display: none;
  }
}

@media (max-width: 400px){
  .subtitulo{
    font-size: 2rem;
  }

  p{
    font-size: 1rem;
  }
}