*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito";
}
a, li{
    list-style: none;
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
    display: block;
}
.info-bg{
    background: #122ab2;
}
.info-header{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:white;
}
.info-header a, p{
    margin: 10px;
}
.menu-header-bg{
    background: #2463b1;
}
.menu-header{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-header-logo{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10 px;
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
}
.menu-items a{
    display: block;
    font-size: 1.25em;
    padding: 10px;
}
.introdução{
    font-size: 3em;
    line-height: 1;
    width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}
.sobre{
    border-top: 2px solid #122ab2;
    border-bottom: 2px solid #122ab2;;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}
.sobre-info h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}
.sobre-img{
    flex:1 1 160px;
    margin: 0 10px;
}